<script>
  let shopdomain = "{{ shop.permanent_domain }}"
  let cs_id = "{{ customer.id }}"
  let totalprice = "{{ cart.total_price }}"
  let csemail = "{{ customer.email }}"
  let csfirst_name = "{{ customer.first_name }}"
  let cslast_name = "{{ customer.last_name }}"
</script>
<style>

#dokopoiSubmit,
#dokopoiReset {
  width: 100%;
  text-align: center;
  appearance: none;
  border: 0;
  border-radius: 2px;
  padding: 8px 10px;
  font-size: 16px;
  transition: 0.3s;
  background: #000;
  color: #fff;
}

</style>
  {%- if cart != empty -%}
  {%- if customer.id -%}
    <div id="dokopoiCartBody" style="display:none; text-align:right; !important">
      <div id="dokopoiDiscountPrice" style="display:none;">
        <span id="dokopoiDiscountPriceLabel">割引金額</span>
        <span id="dokopoiDiscountSymbol">-¥</span>
      <span id="dokopoiDiscountPriceFix"></span>
      </div>
      <div id="dokopoiMainLabel"><span id="dokopoiRemainingPointLabel">現在のポイント</span><span id="dokopoiRemainingAfterPointLabel" style="display:none;">ポイント利用後の保有ポイント</span><span id="dokopoiRemainingPoint"></span><span id="dokopoiRemainingPointSymbol">P</span></div>
      <div id="erro_point" style="display:none;">
      <p id="dokopoiError1" style="display:none;">ポイントが未入力です</p>
      <p id="dokopoiError2" style="display:none;">小計以上のポイントは利用することができません</p>
      <p id="dokopoiError3" style="display:none;">ポイントが超過しています</p>
      <p id="dokopoiError4" style="display:none;"><span id="dokopoiRate"></span>Pポイントからご利用いただけます</p>
      </div>
      <div class="dokopoiPointLabel" id="dokopoiPoint"></div>
      <div class="dokopoiFieldGroup">
      <input id="dokopoiPointField" style="width:200px; display:inline;!important"type="number"  name="properties[point]" placeholder="ポイントを入力">
              <label id="dokopoiUsePointResultLabel" style="display:none;"><span id="dokopoiUsePointResultTitle">利用ポイント</span><span id="dokopoiUsePointResult"></span><span id="dokopoiUsePointResultSymbol">P</span></label>
    </p>
  <button  type="button" onclick="crp()"id="dokopoiSubmit"><div id="dokopoiUsePoint">ポイントを使用する</div></button>
    <button  type="button" onclick="rep()" id="dokopoiReset"><div id="dokopoiResetPoint">リセット</div></button>

    <p class="visually-hidden" data-cart-status aria-live="polite" role="status"></p>
    </div>

    {%- else -%}
       <div id="dokopoiCartBody"  style="display:none; text-align:right;">
    <p id="dokopoiLoginMidashi" for="point">ログインして購入でポイントが貯まります！</p>
    <a href="/account/login?return_url=%2Fcart" id="dokopoiSubmit dokopoiLoginButtonId">ログインはこちらから</a>
    {%- endif -%}
        </div>
    {%- endif -%}

{{ 'dokopoi-css.css' | asset_url | stylesheet_tag }}
